# Apple Health Extractor

This code will parse your Apple Health export data, create multiple CSV and do some simple data checks and data analysis. 

Enjoy!

--------

## Extract Data and Export to CSVs from Apple Health's Export.xml

* Command Line Tool to Process apple health's export.xml file 
* Create multiple CSV files for each data type. 
* Original Source: https://github.com/tdda/applehealthdata
* Based on the size of your Apple Health Data, this script may take several minutes to complete.

**NOTE: Currently there are a few minror errors based on additional data from Apple Health that require some updates.**

## Setup and Usage NOTE

* Export your data from Apple Health App on your phone. 
* Unzip export.zip into this directory and rename to data. 
* Inside your directory there should be a directory and file here: /data/export.xml
* Run inside project or in the command line.

In [2]:
# %run -i 'apple-health-data-parser' 'export.xml' 
#%run -i 'apple-health-data-parser' 'data/export.xml'

Exception: File `'apple-health-data-parser.py'` not found.

-----

# Apple Health Data Check and Simple Data Analysis

In [1]:
import numpy as np
import pandas as pd
import glob

----

# Weight

In [3]:
weight = pd.read_csv("data/BodyMass.csv")

In [4]:
weight

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
0,Health,15.1,NaN,BodyMass,kg,2022-01-07 20:38:01 +0100,2022-01-07 20:37:00 +0100,2022-01-07 20:37:00 +0100,62.7
1,Health,15.1,NaN,BodyMass,kg,2022-01-07 20:38:12 +0100,2022-01-07 20:38:00 +0100,2022-01-07 20:38:00 +0100,62.7
2,Health,15.1,NaN,BodyMass,kg,2022-01-07 20:38:35 +0100,2021-06-07 23:00:00 +0100,2021-06-07 23:00:00 +0100,58.0
3,Apple Watch von Laura,7.6.1,NaN,BodyMass,kg,2021-11-13 19:59:28 +0100,2021-11-13 19:59:28 +0100,2021-11-13 19:59:28 +0100,61.0
4,Health,10.3.1,NaN,BodyMass,kg,2017-05-15 21:28:47 +0100,2017-05-15 21:28:47 +0100,2017-05-15 21:28:47 +0100,59.5
5,Health,15.2.1,NaN,BodyMass,kg,2022-01-31 20:59:21 +0100,2022-01-31 20:59:00 +0100,2022-01-31 20:59:00 +0100,62.5
6,Health,15.2.1,NaN,BodyMass,kg,2022-02-17 18:40:33 +0100,2022-02-17 18:40:00 +0100,2022-02-17 18:40:00 +0100,62.2

In [5]:
weight.describe()

       device      value
count     0.0   7.000000
mean      NaN  61.228571
std       NaN   1.841842
min       NaN  58.000000
25%       NaN  60.250000
50%       NaN  62.200000
75%       NaN  62.600000
max       NaN  62.700000

----

## Steps

In [10]:
steps = pd.read_csv("data/StepCount.csv")

In [11]:
len(steps)

82085

In [13]:
steps.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [9]:
steps.describe()

              value
count  59129.000000
mean     133.012600
std      263.785141
min        1.000000
25%       20.000000
50%       57.000000
75%      118.000000
max     1612.000000

In [14]:
steps.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
82080,Apple Watch von Laura,8.4.2,"<<HKDevice: 0x282412710>, name:Apple Watch, ma...",StepCount,count,2022-03-04 13:32:11 +0100,2022-03-04 13:28:59 +0100,2022-03-04 13:29:56 +0100,34
82081,Apple Watch von Laura,8.4.2,"<<HKDevice: 0x282412710>, name:Apple Watch, ma...",StepCount,count,2022-03-04 13:32:11 +0100,2022-03-04 13:29:58 +0100,2022-03-04 13:30:09 +0100,14
82082,Apple Watch von Laura,8.4.2,"<<HKDevice: 0x282412710>, name:Apple Watch, ma...",StepCount,count,2022-03-04 13:32:11 +0100,2022-03-04 13:31:20 +0100,2022-03-04 13:32:01 +0100,30
82083,Apple Watch von Laura,8.4.2,"<<HKDevice: 0x282412710>, name:Apple Watch, ma...",StepCount,count,2022-03-04 13:43:08 +0100,2022-03-04 13:35:35 +0100,2022-03-04 13:35:48 +0100,32
82084,Laura iPhone,15.3.1,"<<HKDevice: 0x282412530>, name:iPhone, manufac...",StepCount,count,2022-03-04 13:44:57 +0100,2022-03-04 13:33:54 +0100,2022-03-04 13:37:41 +0100,125

In [15]:
# total all-time steps
steps.value.sum()

10375160

In [6]:
#pip install pytz
import pytz

In [7]:
convert_tz = lambda x: x.to_pydatetime().replace(tzinfo=pytz.utc).astimezone(pytz.timezone('Europe/Zurich'))
get_year = lambda x: convert_tz(x).year
get_month = lambda x: '{}-{:02}'.format(convert_tz(x).year, convert_tz(x).month) #inefficient
get_date = lambda x: '{}-{:02}-{:02}'.format(convert_tz(x).year, convert_tz(x).month, convert_tz(x).day) #inefficient
get_day = lambda x: convert_tz(x).day
get_hour = lambda x: convert_tz(x).hour
get_day_of_week = lambda x: convert_tz(x).weekday()

In [8]:
steps['startDate'] = pd.to_datetime(steps['startDate'])
steps['year'] = steps['startDate'].map(get_year)
steps['month'] = steps['startDate'].map(get_month)
steps['date'] = steps['startDate'].map(get_date)
steps['day'] = steps['startDate'].map(get_day)
steps['hour'] = steps['startDate'].map(get_hour)
steps['dow'] = steps['startDate'].map(get_day_of_week)

NameError: name 'steps' is not defined

In [28]:
steps_by_date = steps.groupby(["date"])["value"].sum().reset_index(name="Steps")

In [32]:
steps_by_date.count()/365

date     4.369863
Steps    4.369863
dtype: float64

-------

## Stand Count

In [12]:
stand = pd.read_csv("data/AppleStandHour.csv")

In [13]:
len(stand)

8806

In [14]:
stand.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [15]:
stand.describe()

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [16]:
stand.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
8801,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c4686ef0>, name:Apple Watch, ma...",AppleStandHour,NaN,2018-04-30 16:00:08 +0800,2018-04-30 15:00:00 +0800,2018-04-30 16:00:00 +0800,HKCategoryValueAppleStandHourIdle
8802,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c4688bb0>, name:Apple Watch, ma...",AppleStandHour,NaN,2018-04-30 17:03:20 +0800,2018-04-30 16:00:00 +0800,2018-04-30 17:00:00 +0800,HKCategoryValueAppleStandHourIdle
8803,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c4685f00>, name:Apple Watch, ma...",AppleStandHour,NaN,2018-04-30 17:59:51 +0800,2018-04-30 17:00:00 +0800,2018-04-30 18:00:00 +0800,HKCategoryValueAppleStandHourStood
8804,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c4c942d0>, name:Apple Watch, ma...",AppleStandHour,NaN,2018-04-30 18:00:52 +0800,2018-04-30 18:00:00 +0800,2018-04-30 19:00:00 +0800,HKCategoryValueAppleStandHourStood
8805,"“马克\的 iPhone""",11.3,NaN,AppleStandHour,NaN,2018-04-30 18:52:26 +0800,2018-04-30 18:00:00 +0800,2018-04-30 19:00:00 +0800,HKCategoryValueAppleStandHourStood

------

## Resting Heart Rate (HR)

In [17]:
restingHR = pd.read_csv("data/RestingHeartRate.csv")

In [18]:
len(restingHR)

300

In [19]:
restingHR.describe()

       device       value
count     0.0  300.000000
mean      NaN   46.286667
std       NaN    4.017248
min       NaN   38.000000
25%       NaN   43.000000
50%       NaN   46.000000
75%       NaN   49.000000
max       NaN   60.000000

---

## Walking Heart Rate (HR) Average

In [20]:
walkingHR = pd.read_csv("data/WalkingHeartRateAverage.csv")

In [21]:
len(walkingHR)

185

In [22]:
walkingHR.describe()

       sourceVersion  device       value
count     185.000000     0.0  185.000000
mean        4.092432     NaN   80.927027
std         0.072584     NaN   12.104564
min         4.000000     NaN   60.000000
25%         4.100000     NaN   73.000000
50%         4.100000     NaN   78.000000
75%         4.100000     NaN   86.000000
max         4.300000     NaN  135.000000

---

## Heart Rate Variability (HRV)

In [23]:
hrv = pd.read_csv("data/HeartRateVariabilitySDNN.csv")

In [24]:
len(hrv)

1216

In [25]:
hrv.columns

Index(['sourceName', 'sourceVersion', 'device', 'type', 'unit', 'creationDate',
       'startDate', 'endDate', 'value'],
      dtype='object')

In [26]:
hrv.describe()

       sourceVersion        value
count    1216.000000  1216.000000
mean        4.100000    35.646432
std         0.065168    18.154448
min         4.000000     8.463160
25%         4.100000    23.143600
50%         4.100000    31.748000
75%         4.100000    43.296950
max         4.300000   178.671000

In [27]:
hrv.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
1211,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0c8dc50>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 04:23:46 +0800,2018-04-30 04:22:40 +0800,2018-04-30 04:23:45 +0800,12.5996
1212,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0684920>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 06:23:48 +0800,2018-04-30 06:22:47 +0800,2018-04-30 06:23:48 +0800,32.7910
1213,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0c9a5e0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 08:24:10 +0800,2018-04-30 08:23:05 +0800,2018-04-30 08:24:10 +0800,22.8008
1214,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c06932e0>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 12:37:02 +0800,2018-04-30 12:35:57 +0800,2018-04-30 12:37:02 +0800,110.7040
1215,Mark’s Apple Watch,4.3,"<<HKDevice: 0x1c0697c00>, name:Apple Watch, ma...",HeartRateVariabilitySDNN,ms,2018-04-30 17:20:02 +0800,2018-04-30 17:18:57 +0800,2018-04-30 17:20:01 +0800,37.1214

-------

## VO2 Max

In [28]:
vo2max = pd.read_csv("data/VO2Max.csv")

In [29]:
len(vo2max)

143

In [30]:
vo2max.describe()

       sourceVersion  device       value
count            0.0     0.0  143.000000
mean             NaN     NaN   51.085681
std              NaN     NaN    1.900692
min              NaN     NaN   48.008400
25%              NaN     NaN   49.364600
50%              NaN     NaN   51.098600
75%              NaN     NaN   52.350500
max              NaN     NaN   55.097800

----

## Blood Pressure

In [31]:
diastolic = pd.read_csv("data/BloodPressureDiastolic.csv")
systolic = pd.read_csv("data/BloodPressureSystolic.csv")

In [32]:
diastolic.describe()

       device      value
count     0.0  29.000000
mean      NaN  65.586207
std       NaN   5.081600
min       NaN  55.000000
25%       NaN  63.000000
50%       NaN  67.000000
75%       NaN  69.000000
max       NaN  76.000000

In [33]:
systolic.describe()

       device       value
count     0.0   29.000000
mean      NaN  113.206897
std       NaN    8.973689
min       NaN   95.000000
25%       NaN  106.000000
50%       NaN  112.000000
75%       NaN  122.000000
max       NaN  128.000000

------

## Sleep

In [9]:
sleep = pd.read_csv("data/SleepAnalysis.csv")

In [10]:
sleep.tail()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value
723,AutoSleep,6.7.40,NaN,SleepAnalysis,NaN,2022-03-04 09:27:42 +0100,2022-03-04 01:13:00 +0100,2022-03-04 03:44:00 +0100,HKCategoryValueSleepAnalysisAsleep
724,AutoSleep,6.7.40,NaN,SleepAnalysis,NaN,2022-03-04 09:27:42 +0100,2022-03-04 04:08:00 +0100,2022-03-04 06:44:00 +0100,HKCategoryValueSleepAnalysisAsleep
725,AutoSleep,6.7.40,NaN,SleepAnalysis,NaN,2022-03-04 09:27:42 +0100,2022-03-04 06:58:00 +0100,2022-03-04 08:17:00 +0100,HKCategoryValueSleepAnalysisAsleep
726,AutoSleep,6.7.40,NaN,SleepAnalysis,NaN,2022-03-04 09:27:42 +0100,2022-03-03 22:45:00 +0100,2022-03-04 09:14:00 +0100,HKCategoryValueSleepAnalysisInBed
727,AutoSleep,6.7.40,NaN,SleepAnalysis,NaN,2022-03-04 09:27:42 +0100,2022-03-04 08:30:00 +0100,2022-03-04 09:14:00 +0100,HKCategoryValueSleepAnalysisAsleep

In [11]:
sleep["value"].unique()

array(['HKCategoryValueSleepAnalysisInBed',
       'HKCategoryValueSleepAnalysisAsleep'], dtype=object)

       unit
count   0.0
mean    NaN
std     NaN
min     NaN
25%     NaN
50%     NaN
75%     NaN
max     NaN

In [28]:
#for col in ['creationDate', 'startDate', 'endDate']:
 #   data[col] = pd.to_datetime(data[col])

for col in ['creationDate', 'startDate', 'endDate']:
    sleep[col] = pd.to_datetime(sleep[col])

In [25]:
#sleep['type'] = sleep['type'].str.replace('HKCategoryTypeIdentifier', '')

0      SleepAnalysis
1      SleepAnalysis
2      SleepAnalysis
3      SleepAnalysis
4      SleepAnalysis
           ...
723    SleepAnalysis
724    SleepAnalysis
725    SleepAnalysis
726    SleepAnalysis
727    SleepAnalysis
Name: type, Length: 728, dtype: object

In [31]:
sleep.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value,time_asleep
0,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-21 09:00:10+01:00,2017-04-21 01:29:52+01:00,2017-04-21 04:51:28+01:00,HKCategoryValueSleepAnalysisInBed,0 days 03:21:36
1,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-21 09:00:10+01:00,2017-04-21 04:51:32+01:00,2017-04-21 09:00:05+01:00,HKCategoryValueSleepAnalysisInBed,0 days 04:08:33
2,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 02:33:28+01:00,2017-04-22 06:51:32+01:00,HKCategoryValueSleepAnalysisInBed,0 days 04:18:04
3,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 06:52:44+01:00,2017-04-22 07:49:56+01:00,HKCategoryValueSleepAnalysisInBed,0 days 00:57:12
4,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 07:50:56+01:00,2017-04-22 07:57:20+01:00,HKCategoryValueSleepAnalysisInBed,0 days 00:06:24

In [32]:
#sleep['startDate'] = pd.to_datetime(sleep['startDate'])
sleep['year'] = sleep['startDate'].map(get_year)
sleep['month'] = sleep['startDate'].map(get_month)
sleep['date'] = sleep['startDate'].map(get_date)
sleep['day'] = sleep['startDate'].map(get_day)
sleep['hour'] = sleep['startDate'].map(get_hour)
sleep['dow'] = sleep['startDate'].map(get_day_of_week)

In [33]:
sleep.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value,time_asleep,year,month,date,day,hour,dow
0,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-21 09:00:10+01:00,2017-04-21 01:29:52+01:00,2017-04-21 04:51:28+01:00,HKCategoryValueSleepAnalysisInBed,0 days 03:21:36,2017,2017-04,2017-04-21,21,3,4
1,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-21 09:00:10+01:00,2017-04-21 04:51:32+01:00,2017-04-21 09:00:05+01:00,HKCategoryValueSleepAnalysisInBed,0 days 04:08:33,2017,2017-04,2017-04-21,21,6,4
2,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 02:33:28+01:00,2017-04-22 06:51:32+01:00,HKCategoryValueSleepAnalysisInBed,0 days 04:18:04,2017,2017-04,2017-04-22,22,4,5
3,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 06:52:44+01:00,2017-04-22 07:49:56+01:00,HKCategoryValueSleepAnalysisInBed,0 days 00:57:12,2017,2017-04,2017-04-22,22,8,5
4,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 07:50:56+01:00,2017-04-22 07:57:20+01:00,HKCategoryValueSleepAnalysisInBed,0 days 00:06:24,2017,2017-04,2017-04-22,22,9,5

In [30]:
sleep['time_asleep'] = sleep['endDate'] - sleep['startDate']

In [39]:
sleep.head()

,sourceName,sourceVersion,device,type,unit,creationDate,startDate,endDate,value,time_asleep,year,month,date,day,hour,dow
0,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-21 09:00:10+01:00,2017-04-21 01:29:52+01:00,2017-04-21 04:51:28+01:00,HKCategoryValueSleepAnalysisInBed,0 days 03:21:36,2017,2017-04,2017-04-21,21,3,4
1,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-21 09:00:10+01:00,2017-04-21 04:51:32+01:00,2017-04-21 09:00:05+01:00,HKCategoryValueSleepAnalysisInBed,0 days 04:08:33,2017,2017-04,2017-04-21,21,6,4
2,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 02:33:28+01:00,2017-04-22 06:51:32+01:00,HKCategoryValueSleepAnalysisInBed,0 days 04:18:04,2017,2017-04,2017-04-22,22,4,5
3,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 06:52:44+01:00,2017-04-22 07:49:56+01:00,HKCategoryValueSleepAnalysisInBed,0 days 00:57:12,2017,2017-04,2017-04-22,22,8,5
4,Uhr,50,"<<HKDevice: 0x282413ac0>, name:iPhone, manufac...",SleepAnalysis,NaN,2017-04-22 09:00:24+01:00,2017-04-22 07:50:56+01:00,2017-04-22 07:57:20+01:00,HKCategoryValueSleepAnalysisInBed,0 days 00:06:24,2017,2017-04,2017-04-22,22,9,5

In [35]:
sleep_time_by_date = sleep.groupby(["date"])["time_asleep"].sum().reset_index(name="Sleep")

In [38]:
sleep_time_by_date.head(10)

         date           Sleep
0  2017-04-21 0 days 07:30:09
1  2017-04-22 0 days 06:24:14
2  2017-04-23 0 days 08:00:02
3  2017-04-24 0 days 07:20:45
4  2017-04-25 0 days 09:00:23
5  2017-04-26 0 days 08:48:05
6  2017-04-29 0 days 07:29:19
7  2017-04-30 0 days 08:14:33
8  2017-05-01 0 days 07:50:24
9  2017-05-02 0 days 08:12:56